.splash{
	background: @gray-lightest;
	/*background:url(./../img/school_alt.jpg) no-repeat center center fixed;*/
	/*background-size: cover;*/
	min-height: 400px;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	box-sizing: border-box;
	.logo{
		max-width: 400px;
		width: 100%;
		padding: 20px;
		margin: 0 auto;
		box-sizing: border-box;
	}

	h1 {
		color: @white;
		size: @font-size-h1;
		font-family: @font-family-heading;

	}
}